.movie_detail_wrapper {
  left: 0px;
  position: absolute;
  width: 100%;
  min-height: 600px;
  background-color: rgba(14, 31, 38, 0.8);
  height: 100%;
}

.movie_detail_container {
  min-height: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.background_image_wrapper {
  height: 100%;
}

.background_image {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0px;
  width: 100%;
  height: 100%;
}

.movie_detail_wrapper_header {
  padding-top: 100px;
  margin-left: 10%;
  display: flex;
  color: white;
  height: 100%;
}

.movie_detail_wrapper_header_img img {
  height: 500px;
}

.movie_detail_wrapper_header_description {
  max-width: 800px;
  margin-left: 80px;
  text-align: left;
}
.movie_description_tittle {
  font-size: 60px;
  margin-bottom: 20px;
}

.movie_genre {
  font-size: 25px;
  margin-bottom: 30px;
}

.movie_description_raiting {
  font-size: 25px;
  margin-bottom: 30px;
}
.movie_description_raiting span {
  margin-right: 50px;
}

.movie_description_text {
  font-size: 25px;
  margin-bottom: 60px;
  line-height: 28px;
}

.movie_description_bottom {
  font-size: 30px;
  color: white;

  background-color: #29a745;
  padding: 6px 20px 10px 20px;
  border: 1px solid inherit;
  border-radius: 5px;
}
