.movie_detail_wrapper {
  padding: 20px 0px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.movie_detail_wrapper_header_img {
  height: 100%;
}

.movie_detail_wrapper_header_img img {
  height: auto;
}

.movie_detail_wrapper_header_description {
  max-width: 500px;
  padding-left: 20px;
  text-align: left;
}
.movie_description_tittle {
  color: #c14543;
  font-size: 25px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #005382;
}

.movie_genre {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 100;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #005382;
}

.movie_description_raiting {
  font-size: 20px;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #005382;
}
.raiting_color {
  color: #00a340;
}

.movie_description_raiting span {
  padding-right: 50px;
}

.movie_description_text {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 8px;
  margin-bottom: 25px;
  border-bottom: 1px solid #005382;
}

.movie_description_bottom a {
  font-size: 22px;
  color: white;
  background-color: #005382;
  padding: 7px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.movie_description_bottom a:hover {
  transition: all 0.3s;
  box-shadow: 0px 7px 14px lightskyblue, 0 2px 6px hwb(203 53% 2%);
}

.favoritesIcon {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  height: 50px;
}

.movie_card_img1 {
  padding-bottom: 5px;
}

.movie_card_img2 {
  padding: 2px 0px 0px 20px;
}
